# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Models
models/*.pkl

# Data
data/*.csv
data/*.zip

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db